# Ignore IDE configurations
.idea/
.vscode/

# Ignore default.txt files
default.txt

# Ignore cmd/shortener/default.txt specifically
cmd/shortener/default.txt

# Ignore Go binary and build files
*.exe
*.out
*.test


# Ignore system files (for macOS, Linux, etc.)
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore vendor directory if present
/vendor/
pkg/mod/
